@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
/*
src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4RMqLTuTcCB1SOLxqYT-GVg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4V77J2WsOmgW1CJPQ9ZetJo.woff) format('woff');
*/
}
